<h1 class="text-3xl font-semibold font-[Caveat]">Program</h1>
            <div>
              <h2 class="text-xl font-[Caveat] font-semibold">Morning:</h2>
              <ol>
                <li>
                  <h3 class="font-semibold">
                    8:00 AM - Arrival and Breakfast:
                  </h3>
                  <p>
                    Members gather at the club. Enjoy a hearty breakfast to fuel
                    up for the day's activities.
                  </p>
                </li>
                <li>
                  <h3 class="font-semibold">
                    9:00 AM - Horseback Riding in the Forest:
                  </h3>
                  <p>
                    Prepare the horses and riders for a scenic ride through the
                    forest trails. Explore nature and enjoy the tranquility of
                    the surroundings.
                  </p>
                </li>
                <li>
                  <h3 class="font-semibold">
                    11:00 AM - Return to Horse Stable:
                  </h3>
                  <p>
                    Safely return to the horse stable after the forest ride.
                  </p>
                </li>
              </ol>

              <h2 class="text-xl font-[Caveat] font-semibold">Midday:</h2>
              <ol start="4">
                <li>
                  <h3 class="font-semibold">
                    11:30 AM - Horse Grooming Session:
                  </h3>
                  <p>
                    Learn and practice proper horse care techniques. Brush and
                    groom the horses, fostering a bond between riders and their
                    mounts.
                  </p>
                </li>
                <li>
                  <h3 class="font-semibold">
                    12:30 PM - Picnic Lunch in the Fields:
                  </h3>
                  <p>
                    Pack a delicious picnic lunch. Set off on horseback to
                    picturesque fields. Enjoy lunch amidst the natural beauty,
                    surrounded by fields and rolling hills.
                  </p>
                </li>
              </ol>

              <h2 class="text-xl font-[Caveat] font-semibold">Afternoon:</h2>
              <ol start="6">
                <li>
                  <h3 class="font-semibold">2:30 PM - Visit to the Beach:</h3>
                  <p>
                    Embark on a leisurely ride to the nearby beach. Experience
                    the serenity of the coastline and the sound of waves
                    crashing. Take in breathtaking views and enjoy the fresh sea
                    breeze.
                  </p>
                </li>
                <li>
                  <h3 class="font-semibold">4:30 PM - Sunset Watching:</h3>
                  <p>
                    Find a cozy spot on the beach to watch the mesmerizing
                    sunset. Reflect on the day's adventures and bond with fellow
                    riders. Capture unforgettable memories against the backdrop
                    of the setting sun.
                  </p>
                </li>
              </ol>

              <h2 class="text-xl font-[Caveat] font-semibold">Evening:</h2>
              <ol start="8">
                <li>
                  <h3 class="font-semibold">6:00 PM - Return to the Club:</h3>
                  <p>
                    Safely return to the horse riding club after a day of
                    exploration and relaxation.
                  </p>
                </li>
              </ol>
            </div>