<app-navbar></app-navbar>
<div>
        <div class="container px-6 py-16 mx-auto">
            <div class="items-center lg:flex">
                <div class="w-full lg:w-1/2">
                    <div class="lg:max-w-lg">
                        <h1 class="text-3xl font-semibold text-gray-800  lg:text-4xl">Best place to choose <br> where to <span class="text-[#D8F1A0] ">chill</span></h1>
                        
                        <p class="mt-3 text-gray-600 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro beatae error laborum ab amet sunt recusandae? Reiciendis natus perspiciatis optio.</p>
                        
                        <button class="w-full px-5 py-2 mt-6 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-[#F3C178] rounded-lg lg:w-auto hover:bg-[#F0B356] focus:outline-none focus:bg-[#F0B356]">Discover Now</button>
                    </div>
                </div>
    
                <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
                    <img class="w-full h-full lg:max-w-3xl rounded-lg"   src="../../../assets/img/hero2.jpg" alt="Catalogue-pana.svg">
                </div>
            </div>
        </div>
        <section class="bg-white ">
            <div class="container px-6 py-10 mx-auto">
                <h1 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl ">Trending
                </h1>
        
                <p class="mt-4 text-center text-gray-500 ">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quam voluptatibus
                </p>
        
        
                <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
                    <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group"
                        style="background-image:url('https://images.unsplash.com/photo-1599828586134-fbaff96c63d5?q=80&w=1949&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
                        <div
                            class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
                            <h2 class="mt-4 text-xl font-semibold text-white capitalize">Hicking Montains</h2>
                            <p class="mt-2 text-lg tracking-wider text-[#00A878] uppercase ">Atlas Montains</p>
                        </div>
                    </div>
        
                    <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group"
                        style="background-image:url('https://images.unsplash.com/photo-1600757490188-1eb2bab4cf4a?q=80&w=2059&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
                        <div
                            class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
                            <h2 class="mt-4 text-xl font-semibold text-white capitalize">Riding Horse In the Sunshine</h2>
                            <p class="mt-2 text-lg tracking-wider text-[#00A878] uppercase ">Fresh Air</p>
                        </div>
                    </div>
        
                    <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group"
                        style="background-image:url('https://images.unsplash.com/photo-1533086723868-6060511e4168?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
                        <div
                            class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
                            <h2 class="mt-4 text-xl font-semibold text-white capitalize">Camping With Your Friends </h2>
                            <p class="mt-2 text-lg tracking-wider text-[#00A878] uppercase ">Green Forests</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
</div>
<app-footer></app-footer>


<!-- #D8F1A0
#00A878
#F3C178 -->