<div
  class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg drop-shadow-lg"
>
  <div class="px-6 py-4">
    <div class="flex mx-auto font-semibold text-2xl">
      €{{ activityData?.tariff }} by Day
    </div>

    <form class="mt-4" (submit)="saveReservation()">
      <div class="relative max-w-sm h-11">
        <input
          type="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
          placeholder="Select date"
          [(ngModel)]="reservation.date"
          name="date"
        />
      </div>
      <div class="relative max-w-sm mt-4">
        <input
          type="number"
          name="nbrPerson"
          id="visitor-input"
          [(ngModel)]="reservation.nbrPerson"
          min="1"
          max="5"
          class="bg-gray-100 border-x-0 disabled border-gray-300 h-11 font-medium text-center justify-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pb-6"
          placeholder="Number of Visitors"
          required
        />
      </div>

      <p class="text-sm m-center my-4">
        No amount will be charged to you at this time
      </p>
      <div class="flex justify-between mb-4">
        <p>LoisiResa Service Fees</p>
        <p>€{{ fees }}</p>
      </div>
      <hr />
      <div class="flex justify-between my-4 font-semibold">
        <p>Total</p>
        <p>€{{ fees + (activityData?.tariff || 0) }}</p>
      </div>

      <div class="w-full mt-4">
        <button
          class="relative justify- w-full inline-flex items-center justify-center px-6 py-3 overflow-hidden font-medium transition-all bg-red-500 rounded-xl group"
        >
          <span
            class="absolute top-0 right-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-red-700 rounded group-hover:-mr-4 group-hover:-mt-4"
          >
            <span
              class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-white"
            ></span>
          </span>
          <span
            class="absolute bottom-0 left-0 w-full h-full transition-all duration-500 ease-in-out delay-200 -translate-x-full translate-y-full bg-red-600 rounded-2xl group-hover:mb-12 group-hover:translate-x-0"
          ></span>
          <button
            type="submit"
            class="relative justify-center w-full text-center text-white transition-colors duration-200 ease-in-out group-hover:text-white"
          >
            To Book
          </button>
        </button>
      </div>
    </form>
  </div>
</div>
