<div>
  <ul class="flex w-full justify-around">
    <li>
      <a
        [routerLink]="['/home']"
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
      >
        <i class="fa-solid fa-person-hiking text-2xl"></i>
        <p class="text-sm">Hicking</p>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/Activity']"
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
      >
        <i class="fa-solid fa-person-swimming text-2xl"></i>
        <p class="text-sm">Swiming</p>
      </a>
    </li>
    <li>
      <a
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
        href="#"
        ><i class="fa-solid fa-person-snowboarding text-2xl"></i>
        <p class="text-sm">snowboarding</p>
      </a>
    </li>
    <li>
      <a
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
        href="#"
      >
        <i class="fa-solid fa-person-skiing-nordic text-2xl"></i>
        <p class="text-sm">Ski</p>
      </a>
    </li>
    <li>
      <a
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
        href="#"
        ><i class="fa-solid fa-campground text-2xl"></i>
        <p class="text-sm">Camping</p></a
      >
    </li>
    <li>
      <a
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
        href="#"
        ><i class="fa-solid fa-horse-head text-2xl"></i>
        <p class="text-sm">Hore's Rinding</p></a
      >
    </li>
    <li>
      <a
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
        href="#"
        ><i class="fa-solid fa-headset text-2xl"></i>
        <p class="text-sm">Gaming</p></a
      >
    </li>
    <li>
      <a
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
        href="#"
        ><i class="fa-solid fa-golf-ball-tee text-2xl"></i>
        <p class="text-sm">Golf</p>
      </a>
    </li>
    <li>
      <a
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
        href="#"
        ><i class="fa-solid fa-bowling-ball text-2xl"></i>
        <p class="text-sm">Outdoor's Activity</p></a
      >
    </li>
    <li>
      <a
        class="text-xl text-gray-400 hover:text-gray-500 flex items-center flex-col"
        href="#"
        ><i class="fa-solid fa-palette text-2xl"></i>
        <p class="text-sm">Art</p>
      </a>
    </li>
  </ul>
</div>
